@import "./variables";

:global {
html { height: 100%; font-size: 62.5%; }

body {
    background: #3D444E;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #FFF;
    font: 14px/var(--baseline) 'Open Sans', sans-serif;
}

.mytimelines-wrapper { height: 100%; }

.h-one {
    font: 40px/calc(var(--baseline) * 2) 'Crushed', cursive;
    margin: 0 0 var(--baseline) 0;
}

.h-two {
    font: 26px/calc(var(--baseline) * 1.5) 'Crushed', cursive;
    margin: 0 0 calc(var(--baseline) / 2) 0;

    & a {
        color: #7BC8C8;
        text-decoration: none;
    }
}

.g-four-col {
    width: 316px;
    margin: 0 0 0 14px;
    vertical-align: top;
    display: inline-block;
}

.g-eight-col {
    width: 640px;
    vertical-align: top;
    display: inline-block;
}

.g-twelve-col {
    width: 100%;
    vertical-align: top;
    display: inline-block;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;

    transform: translate(0, -100%);
    //transition: transform 0.4s ease-out 0.15s, background 0.15s ease-out;

    &.active {
        background: rgba(0, 0, 0, 0.7);

        transform: translate(0, 0);
        //transition: transform 0.4s ease-out, background 0.2s ease-out 0.4s;
    }
}

    .modal-content {
        background: #29ABA3;
        width: 35%;
        color: #fff;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

.timelineItem {
    background: #292E34;
    margin: 0 0 calc(var(--baseline) / 2);
    padding: calc(var(--baseline) / 2);
    color: #fff;
    position: relative;

    &:hover {
        background: #212528;
    }
}

    .timelineItem-tools {
        height: 100%;
        padding: calc(var(--baseline) / 4);
        position: absolute;
        top: 0;
        right: 0;

        box-sizing: border-box;
    }

    .timelineItem-button {
        background: #212528;
        width: calc(var(--baseline) * 2);
        height: calc(var(--baseline) * 2);
        margin: 0 0 0 calc(var(--baseline) / 4);
        color: #fff;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        float: left;
        overflow: hidden;

        & > .icon {
            width: 24px;
            height: 24px;
            margin: 10px 10px;
            pointer-events: none;
        }

        &:hover {
            background: #F46B32;
            height: 100%;
        }
    }

.timelineForm {
    background: #29ABA3;
    padding: calc(var(--baseline) / 2);
    position: relative;

    & .h-two { text-align: center; }
}

    .timelineForm-input {
        background: #fff;
        width: 100%;
        padding: calc(var(--baseline) / 2);
        margin: 0 0 calc(var(--baseline) / 2);
        border: none;
        color: #6E737B;
        font-size: 14px;
        resize: none;

        box-sizing: border-box;
    }

    .timelineForm-input-special {
        background: #fff;
        width: calc(70%);
        padding: calc(var(--baseline) / 2);
        margin: 0 0 calc(var(--baseline) / 2) 0;
        border: none;
        color: #6E737B;
        font-size: 14px;
        resize: none;

        box-sizing: border-box;
    }

    .timelineForm-button-special {
        background: #fff;
        width: 30%;
        padding: calc(var(--baseline) / 2);
        margin: 0 0 calc(var(--baseline) / 2);
        border: none;
        color: #6E737B;
        font-size: 14px;
        resize: none;

        box-sizing: border-box;
    }

    .timelineForm-input-half {
        background: #fff;
        width: calc(50% - (var(--baseline) / 4));
        padding: calc(var(--baseline) / 2);
        margin: 0 calc(var(--baseline) / 4) calc(var(--baseline) / 2) 0;
        border: none;
        color: #6E737B;
        font-size: 14px;
        display: inline-block;
        resize: none;

        box-sizing: border-box;
    }
        .timelineForm-input-half--right {
            margin: 0 0 calc(var(--baseline) / 2) calc(var(--baseline) / 4) ;
        }

    .timelineForm-submit {
        background: #269187;
        margin: 0;
        color: #fff;
        cursor: pointer; cursor: hand;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .timelineForm-close {
        background: #269187;
        width: calc(var(--baseline) * 1.5);
        height: calc(var(--baseline) * 1.5);
        margin: 0;
        border: none;
        color: #fff;
        text-align: center;
        cursor: pointer; cursor: hand;
        position: absolute;
        top: calc(var(--baseline) / 2);
        right: calc(var(--baseline) / 2);
        overflow: hidden;

        & > .icon {
            width: 13px;
            height: 13px;
            vertical-align: middle;
            display: inline-block;
            pointer-events: none;
        }
    }

.timelineEdit {
    width: 100%;
    margin: 0 0 calc(var(--baseline) * 2);
}

    .timelineEdit-title {
        background: #292E34;
        width: 100%;
        margin: 0 0 calc(var(--baseline) / 4);
        padding: var(--baseline) / 2;
        color: #7BC8C8;
        font: 26px/calc(var(--baseline) * 1.5) 'Crushed', cursive;
        border: none;
        position: relative;

        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        &:focus {
            background: #fff;
            color: #212528;
            -webkit-font-smoothing: subpixel-antialiased;
            -moz-osx-font-smoothing: auto;
        }
    }

    .timelineEdit-description {
        background: #292E34;
        width: 100%;
        padding: calc(var(--baseline) / 2);
        color: #FFF;
        font-size: 14px;
        border: none;
        position: relative;
        resize: none;

        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        &:focus {
            background: #fff;
            color: #212528;
            -webkit-font-smoothing: subpixel-antialiased;
            -moz-osx-font-smoothing: auto;
        }
    }

.timespanItem {
    background: #292E34;
    margin: 0 0 calc(var(--baseline) / 4);
    padding: calc(var(--baseline) / 2);
    color: #fff;
    position: relative;

    &:hover {
        background: #212528;
    }
}

    .timespanItem-tools {
        height: 100%;
        padding: calc(var(--baseline) / 4);
        position: absolute;
        top: 0;
        right: 0;

        box-sizing: border-box;
    }

    .timespanItem-button {
        background: #212528;
        width: calc((var(--baseline) * 2) - (var(--baseline) / 2));
        height: calc((var(--baseline) * 2) - (var(--baseline) / 2));
        margin: 0 0 0 calc(var(--baseline) / 4);
        color: #fff;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        float: left;
        overflow: hidden;

        & > .icon {
            width: 13px;
            height: 13px;
            margin: 10px;
            vertical-align: middle;
            display: inline-block;
            pointer-events: none;
        }

        &:hover {
            background: #F46B32;
            height: 100%;
        }
    }

}
