$baseline: 22px;

html { height: 100%; font-size: 62.5%; }

body {
    //background: #ffffff;
    background: #3D444E;
    height: 100%;
    margin: 0;
    padding: 0;
    //color: #3D444E;
    color: #FFF;
    font: 14px/#{$baseline} 'Open Sans', sans-serif;
}

.mytimelines-wrapper { height: 100%; }

.h-one {
    font: 40px/#{$baseline * 2} 'Crushed', cursive;
    margin: 0 0 $baseline 0;
}

.h-two {
    font: 26px/#{$baseline * 1.5} 'Crushed', cursive;
    margin: 0 0 #{$baseline / 2} 0;

    & a {
        color: #7BC8C8;
        text-decoration: none;
    }
}

.l-container {
    width: 970px;
    min-height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.g-four-col {
    width: 316px;
    margin: 0 0 0 14px;
    vertical-align: top;
    display: inline-block;
}

.g-eight-col {
    width: 640px;
    vertical-align: top;
    display: inline-block;
}

.g-twelve-col {
    width: 100%;
    vertical-align: top;
    display: inline-block;
}

.header {
    background: #292E34;
    height: $baseline * 2.5;
    color: #fff;
    overflow: hidden;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

    .header-logo {
        background: url('/public/logo.svg');
        background-size: 147px 36px;
        width: 147px;
        height: 36px;
        margin: #{(($baseline * 2.5) - 36) / 2} 0;
    }

    .mainNav {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }

        .mainNav-item {
            height: 100%;
            display: inline-block;

            & > a {
                width: 100%;
                height: 100%;
                padding: 0 $baseline;
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                line-height: $baseline * 2.5;
                display: inline-block;
            }

            &.active { background: #3D444E; }
            &:hover { background: #FA8754 }
        }

.main {
    background: #3D444E;
    width: 100%;
    padding: #{$baseline * 3} 0;
    color: #fff;
    overflow: auto;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.lightMain {
    background: white url("/public/front-timeline.svg") repeat-x top;
    background-size: 204px 24px;
    width: 100%;
    min-height: calc(100% - 525px);
    color: #6E737A;
    overflow: hidden;
}

.hugeLogo {
    background: url("/public/front-logo.svg");
    background-size: 215px 255px;
    width: 215px;
    height: 255px;
    margin: 0 ($baseline * 2) 0 0;
    display: inline-block;
    float: left;
}

.informativeText {
    width: (460px - ($baseline * 2));
    display: inline-block;
    float: left;
}

.ingress {
    color: #FA8754;
    font-size: 16px;
    font-weight: bold;
}

.squigglyArt {
    width: 241px;
    margin: ($baseline * 3) 0 0 ($baseline * 2);
    display: inline-block;
    float: right;
}

.getStarted {
    background: #F46B32;
    width: $baseline * 8;
    margin: ($baseline * 4) auto 0;
    padding: ($baseline * 1.5) ($baseline);
    display: block;
    position: relative;
    cursor: pointer; cursor: hand;

    &:before {
        content: "";
        height: ($baseline * 4) - 20px;
        border: solid #F46B32;
        border-width: 0 2px 0 2px;
        position: absolute;
        right: 50%;
        left: 50%;
        bottom: 100%;
    }

    & > .icon {
        vertical-align: middle;
        display: inline-block;
        pointer-events: none;
    }
}

.modal {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
    -ms-flex-align: center;
     -webkit-align-items: center;
             align-items: center;
    -webkit-box-pack: center;
       -moz-box-pack: center;
       -ms-flex-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;

    transform: translate(0, -100%);
    //transition: transform 0.4s ease-out 0.15s, background 0.15s ease-out;

    &.active {
        background: rgba(0, 0, 0, 0.7);

        transform: translate(0, 0);
        //transition: transform 0.4s ease-out, background 0.2s ease-out 0.4s;
    }
}

    .modal-content {
        background: #29ABA3;
        width: 35%;
        color: #fff;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

.timelineItem {
    background: #292E34;
    margin: 0 0 #{$baseline / 2};
    padding: $baseline / 2;
    color: #fff;
    position: relative;

    &:hover {
        background: #212528;
    }
}

    .timelineItem-tools {
        height: 100%;
        padding: $baseline / 4;
        position: absolute;
        top: 0;
        right: 0;

        box-sizing: border-box;
    }

    .timelineItem-button {
        background: #212528;
        width: $baseline * 2;
        height: $baseline * 2;
        margin: 0 0 0 #{$baseline / 4};
        color: #fff;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        float: left;
        overflow: hidden;

        & > .icon {
            width: 24px;
            height: 24px;
            margin: 10px 10px;
            pointer-events: none;
        }

        &:hover {
            background: #F46B32;
            height: 100%;
        }
    }

.timelineForm {
    background: #29ABA3;
    padding: $baseline / 2;
    position: relative;

    & .h-two { text-align: center; }
}

    .timelineForm-input {
        background: #fff;
        width: 100%;
        padding: $baseline / 2;
        margin: 0 0 #{$baseline / 2};
        border: none;
        color: #6E737B;
        font-size: 14px;
        resize: none;

        box-sizing: border-box;
    }

    .timelineForm-input-special {
        background: #fff;
        width: calc(70%);
        padding: $baseline / 2;
        margin: 0 0 #{$baseline / 2} 0;
        border: none;
        color: #6E737B;
        font-size: 14px;
        resize: none;

        box-sizing: border-box;
    }

    .timelineForm-button-special {
        background: #fff;
        width: 30%;
        padding: $baseline / 2;
        margin: 0 0 #{$baseline / 2};
        border: none;
        color: #6E737B;
        font-size: 14px;
        resize: none;

        box-sizing: border-box;
    }

    .timelineForm-input-half {
        background: #fff;
        width: calc(50% - #{$baseline / 4});
        padding: $baseline / 2;
        margin: 0 #{$baseline / 4} #{$baseline / 2} 0;
        border: none;
        color: #6E737B;
        font-size: 14px;
        display: inline-block;
        resize: none;

        box-sizing: border-box;
    }
        .timelineForm-input-half--right {
            margin: 0 0 #{$baseline / 2} #{$baseline / 4} ;
        }

    .timelineForm-submit {
        background: #269187;
        margin: 0;
        color: #fff;
        cursor: pointer; cursor: hand;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .timelineForm-close {
        background: #269187;
        width: $baseline * 1.5;
        height: $baseline * 1.5;
        margin: 0;
        border: none;
        color: #fff;
        text-align: center;
        cursor: pointer; cursor: hand;
        position: absolute;
        top: $baseline / 2;
        right: $baseline / 2;
        overflow: hidden;

        & > .icon {
            width: 13px;
            height: 13px;
            vertical-align: middle;
            display: inline-block;
            pointer-events: none;
        }
    }

.timelineEdit {
    width: 100%;
    margin: 0 0 #{$baseline * 2};
}

    .timelineEdit-title {
        background: #292E34;
        width: 100%;
        margin: 0 0 #{$baseline / 4};
        padding: $baseline / 2;
        color: #7BC8C8;
        font: 26px/#{$baseline * 1.5} 'Crushed', cursive;
        border: none;
        position: relative;

        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        &:focus {
            background: #fff;
            color: #212528;
            -webkit-font-smoothing: subpixel-antialiased;
            -moz-osx-font-smoothing: auto;
        }
    }

    .timelineEdit-description {
        background: #292E34;
        width: 100%;
        padding: $baseline / 2;
        color: #FFF;
        font-size: 14px;
        border: none;
        position: relative;
        resize: none;

        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        &:focus {
            background: #fff;
            color: #212528;
            -webkit-font-smoothing: subpixel-antialiased;
            -moz-osx-font-smoothing: auto;
        }
    }

.timespanItem {
    background: #292E34;
    margin: 0 0 #{$baseline / 4};
    padding: $baseline / 2;
    color: #fff;
    position: relative;

    &:hover {
        background: #212528;
    }
}

    .timespanItem-tools {
        height: 100%;
        padding: $baseline / 4;
        position: absolute;
        top: 0;
        right: 0;

        box-sizing: border-box;
    }

    .timespanItem-button {
        background: #212528;
        width: #{($baseline * 2) - ($baseline / 2)};
        height: #{($baseline * 2) - ($baseline / 2)};
        margin: 0 0 0 #{$baseline / 4};
        color: #fff;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        float: left;
        overflow: hidden;

        & > .icon {
            width: 13px;
            height: 13px;
            margin: 10px;
            vertical-align: middle;
            display: inline-block;
            pointer-events: none;
        }

        &:hover {
            background: #F46B32;
            height: 100%;
        }
    }
