@import "mytimelines/client/styles/variables";

:root {
    --height: calc(var(--baseline) * 2.5);

    --text-color:        var(--white-color);
    --background-color:  var(--black-color);
    --item-border-color: var(--heavy-black-color);
    --item-active-color: var(--light-black-color);
    --item-hover-color:  var(--light-orange-color);
}

.root {
    background: var(--background-color);
    height: var(--height);
    color: var(--text-color);
    overflow: hidden;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.logo {
    background: url('/public/logo.svg');
    background-size: 147px 36px;
    width: 147px;
    height: 36px;
    margin: calc((var(--height) - 36) / 2) 0;
    float: left;
}

.nav {
    height: var(--height);
    float: right;
}

.nav__item {
    height: 100%;
    display: inline-block;

    & > a {
        padding: 0 var(--baseline);
        color: var(--text-color);
        text-decoration: none;
        text-transform: uppercase;
        line-height: var(--height);
        display: inline-block;
    }

    &.active { background: var(--item-active-color); }
    &:hover { background: var(--item-hover-color); }
}
